/* About Section */
div.vision{
    padding: 100px 0 0px 0;
}
div.vision div.container div.vision-statement{
    width: 86%;
    margin: 0 auto;
    text-align: center;  
}
div.vision div.container div.vision-statement p{
    margin: 30px 0;
}
div.vision-caption{
    display: flex;
    padding: 100px 100px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7)), url(images/blog/blog4.png) no-repeat;
    background-size: cover;
}
div.vision-caption div:first-child{
    width: 45%;
}
div.vision-caption div.header-caption{
    margin-bottom: 30px;
}
div.vision-caption div:first-child img{
    width: 100%;
    height: 400px;
}
div.vision-caption>div:last-child{
    width: 50%;
    margin-left: 5%;
}

/* Vision And Mission Statement */
div.mission{
    padding: 100px 50px;
    background: rgb(4, 4, 90);
    background:  linear-gradient(rgba(1, 14, 39, 0.8), rgba(3, 4, 41, 0.9)), url('./images/slider3.png') no-repeat;
    background-size: cover;
}
div.mission div.row{
    justify-content: space-between;
}
div.mission-container, div.vision-container{
    width: 50%;
    flex-direction: column;
    height: 600px;
}
div.vision-container{
    margin-top: 20px;
}
div.mission-container div.mis-caption,div.vision-container div.vis-caption{
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(images/blog/main-blog/m-blog-5.jpg) no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    padding: 20px;
    
}
div.mission-img, div.vision-img{
    height: 50%;
}
div.mission-img img, div.vision-img img{
    width: 100%;
    height: 100%;
}
div.mission div.header-caption{
    margin: 0;
}

/* Team Section */
div.team{
    margin: 100px 0;
}
div.team div.row{
    justify-content: space-between;
}
div.team-member{
    width: 23%;
}

div.team-member img{
    width: 100%;
}
div.team-member div.team-caption{
    background: rgb(243, 244, 250);
    padding: 3rem 2rem;
    text-align: center;
    margin-top: -10px;
    border-bottom: 2px solid rgb(4, 4, 90);
    position: relative;
}
div.team-caption .des-arow{
    color: red;
    background: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    bottom: -20px;
    left: 40%;
}
div.team-img{
    overflow: hidden;
    width: 100%;
    height: fit-content;
}

div.team-member:hover  img{
    transform: scale(1.1);
    transition: 1s;
}
div.team-member:not(:hover) img{
    transition: 1s;
}
div.team-member:hover div.team-caption{
    background: rgb(4, 4, 90);
    color: #fff;
    border-bottom: 2px solid red;
    transition: 1s;
}
div.team-member:not(:hover) div.team-caption{
    transition: 1s;
}
div.team-member:hover .des-arow{
    color: #fff;
    background: red;
    transition: 1s;

}