h2{
    color: #fff;
}
div.contact-form{
    margin: 100px 0;
}
div.contact-form aside{
    background: red;
    width: 40%;
    float: left;
    color: #fff;
    padding: 20px 50px;
}
div.contact-form form{
    width: 55%;
    float: right;
}
div.contact-form::after{
    display: block;
    content: "";
    clear: both;
}

div.contact-form aside span{
    padding-right: 20px;
    color: #fff;
    font-size: 28px;
    display: inline-block;
    width: 10%;
}
div.contact-form ul{
    list-style-type: none;
    
    
}
div.contact-form li{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
div.contact-form div aside div{
    width: 85%;
}
div.contact-form form  h2{
    color: rgb(4, 4,90);
}
div.contact-form form .form-input{
    width: 100%;
}
div.contact-form form .form-input input{
    width: 100%;
    background: red;
}
form .form-input{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
form input{
    width: 50%;
}