h2{
    color: #fff;
}
div.contact-form{
    margin: 100px 0;
}
div.contact-form aside{
    background: red;
    width: 40%;
    float: left;
    color: #fff;
    padding: 50px;
    height: 100%;
}
div.contact-form form{
    width: 55%;
    float: right;
}
div.contact-form::after{
    display: block;
    content: "";
    clear: both;
}

div.contact-form aside span{
    padding-right: 20px;
    color: #fff;
    font-size: 28px;
    display: inline-block;
    width: 5px 10%;
}
div.contact-form aside .social-links a i{
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}
div.contact-form ul{
    list-style-type: none;  
}
div.contact-form li{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
div.contact-form div aside div{
    width: 85%;
}
div.contact-form form  h2{
    color: rgb(4, 4,90);
}
div.contact-form form .form-input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.form-input div{
    width: 48%;
}
div.contact-form form .form-input input{
    width: 100%;
    background:#f3f5f9;
    color: #252525;
}
div.contact-form form .form-input input::placeholder{
    color: #bdb9b9;
}
div.form-input div.contact-textarea{
    width: 100%;
}
div.form-input div.contact-textarea textarea{
    background: #f3f5f9;
    width: 100%;
    color: #252525;
}
div.form-input div.contact-textarea textarea::placeholder{
    color: #bdb9b9;
}
div.contact-form div.header-caption{
    margin-bottom: 30px;
}
div.contact-form div.contact-us-btn a{
    background: rgb(4, 4,90);
}
div.contact-form div.contact-us-btn a:hover{
    background: red;
    color: #fff;
}
div.contact-api iframe{
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}