@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
    position: relative;
    /* padding-bottom:400px; */
}


/* My Headers */

h1{
    font-size: 56px;
    font-weight: 900;
}
h2{
    font-size: 40px;
    color: #001e57;
    font-weight: bold;
}
h2.about-header{
    font-size: 46px;
    font-weight: 600;
}
h3{
    font-size: 30px;
}
/* Links */


a{
    font-weight: 600;
}


/* Special Class Utilities */
div.container{
    padding: 0 100px;
}
div.row{
    display: flex;
}
div.header-caption{
    margin-bottom: 50px;
}
/* Colors */
.orange{
    color: red;
}
.white{
    color: #fff;
}


div.btn a{
    display: inline-block;
    padding: 10px 30px;
    margin: 20px 20px 0 0;
    text-decoration: none;
    font-weight: bold;
}
div.btn a.orange{
    background: red;
    color: #fff;
}
div.btn a.orange:hover{
    background: #fff;
    color: rgb(9, 9, 46);
    transition: 1s;
}
div.btn a.blue{
    background: #fff;
    color: rgb(9, 9, 46); 
}
div.btn a.blue:hover{
    background: rgb(9, 9, 46);
    color: #fff; 
    transition: 1s;
}

span.blue-hr{
    display: inline-block;
    width: 50px;
    height: 1.5px;
    background: rgb(9, 9, 46);
}
span.white-hr{
    display: inline-block;
    width: 50px;
    height: 1.5px;
    background:#fff;
}
span.orange-hr{
    display: inline-block;
    width: 70px;
    height: 1.5px;
    background: red;
    margin-left: -5px;
}



/* NavHeader Section */

div.nav-header{
    justify-content: space-between;
    background: rgb(4, 4, 90);
    font-size: 17px;
    color: #fff;
}
div.nav-header div.nav-caption{
    background: rgb(9, 9, 46);
    width: 35%;
    padding: 20px 0 20px 100px;
}
div.nav-header div.social{
   justify-content: space-around;
   width: 60%;
   padding: 20px 100px 10px 0;
}
div.social-links{
    font-size: 20px;
    width: 20%;
    justify-content: space-between;
}
div.social a{
    color: #fff;
}
div.nav-header div.social div:last-child{
    justify-content: space-around;
    width: 60%;
}
span i.fa-phone,span i.fa-envelope{
    color: red;
    font-size: 0.8rem;
}
div.nav-header div.row:last-child span.nav-cont{
    font-size: 12px;
}


/* Navigation Section */
nav{
    position: relative;
}
nav div.row{
    justify-content: space-between;
}
nav div.nav-brand{
    width: 20%;
    margin: auto 0;
}
nav ul.nav-links{
    width: 50%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
nav ul.nav-links li a{
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    color: black;
    padding: 20px 0;
    
}
nav ul.nav-links li a.nav-btn{
    background: red;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
}
nav ul.nav-links li a.nav-btn:hover{
    background:  rgb(9, 9, 46);
    color: #fff;
    transition: 1s;
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
    background: #fff;
    animation: navscroll 0.9s ease-in;
}

@keyframes navscroll{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}


/* Hero Section */
div.banner-slider{
    position: relative;
    overflow: hidden;
}
.hero-next{
    position: absolute;
    top: 10%;
    right: 60px;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}
.hero-prev{
    position: absolute;
    top: 20%;
    left: 60px;
    font-size: 2rem;
    color: #fff;
}
div.hero1{
    background: linear-gradient(rgba(1, 14, 39, 0.8), rgba(3, 4, 41, 0.9)), url('./images/slider3.png') no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    color: #fff;
    padding: 10rem 0;
    display: inline-block;
    width: 100%;
}
div.hero2{
    background: linear-gradient(rgba(1, 14, 39, 0.8), rgba(3, 4, 41, 0.9)), url('./images/slider1.png') no-repeat;;
    background-position: center center;
    background-size: cover;
    height: 600px;
    color: #fff;
    padding: 10rem 0;
    display: inline-block;
    width: 100%;
}
div.hero3{
    background: linear-gradient(rgba(1, 14, 39, 0.8), rgba(3, 4, 41, 0.9)), url('./images/slider2.jfif') no-repeat;;
    background-position: center center;
    background-size: cover;
    height: 600px;
    color: #fff;
    padding: 10rem 0;
    display: inline-block;
    width: 100%;
}
div.hero-caption{
    width: 70%;
}
/* div.hero1 div.hero-caption h1{
    animation: heroscroll 1s ease-in;
} */
div.hero-caption p{
    font-size: 18px;
    margin: 20px 0;
}

/* @keyframes heroscroll{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
} */



/* Business Niche Section */

div.niche-caption{
    padding: 100px 30px 100px 100px;
    background: rgb(240, 239, 239);
}
div.bus-nich{
    justify-content: space-between;
}
div.bus-nich>div{
    width: 48%;
}
div.niche-icons{
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 100px;
    margin: auto 0;

}
div.niche-icons div{
    width: 45%;
    border: 1px solid rgb(233, 233, 233);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}
div.niche-icons div:hover{
    background: #001e57;
    color: #fff;
}
div.niche-icons div:not(hover){
    transition: 1s;
}
div.niche-icons div:hover span.icon{
    color: #fff;
    animation: slideDown ease 1s;
}
div.niche-icons div:hover h4{
    color: #fff;
    animation: slideUp ease 1s;
}

span.icon{
    display: inline-block;
    font-size: 60px;
    color: red;
}

/* What We Do Section */
div.what-we-do{
    padding: 100px 0;
}
div.what-we-do div.row {
    flex-wrap: wrap;
    justify-content: space-between;
}
div.what-we-do div.row > div{
    width: 32%;
    margin-bottom: 50px;
}
div.what-we-do div.btn a:hover{
    background: rgb(4, 4, 90);
    color: #fff;
}
a.card-btn{
    margin-top: 50px;
    display: inline-block;
    text-transform: uppercase;
    color: rgb(4, 4, 90);
}
a.card-btn:hover{
    color: red;
}
div.project-card img{
    width: 100%;
    height: 100%;
}
div.project-card:hover img{
    transform: scale(1.2);
    transition: 1s;
}
div.project-card:not(:hover) img{
    transition: 1s;
}
div.project-card div{
    overflow: hidden;
    margin-bottom: 20px;
}
div.project-card h3{
    margin-bottom: 20px;
}
div.project-card p{
    color: rgb(77, 67, 67);
    line-height: 25px;
}

/* Project Section */


div.projects{
    background: linear-gradient(rgba(1, 14, 39, 0.8), rgba(3, 4, 41, 0.6)), url(images/SLIDER\ 2.jpg) no-repeat;
    background-position:center ;
    background-size: cover;
    padding: 10rem;
}

div.project-caption{
    background: #fff;
    width: 50%;
    padding: 50px 20px;
    position: relative;
}
div.carousel-btn {
    position: absolute;
    top: 40px;
    right: 50px;
}
div.carousel-btn div{
    border: 1px solid rgb(233, 233, 233);
    border-radius: 50%;
    padding: 10px 15px;
    margin: 20px 5px 20px;
    cursor: pointer;
    font-size: 20px;
}
div.carousel-btn div:hover{
    background: rgb(12, 12, 112);
    border: none;
    color: #fff;
}
div.project-carousel a{
    color: red;
}
div.carousel-container{
    overflow: hidden;
}
div.project-caption .next{
    position: absolute;
    top: 15%;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(4, 4, 90);
}
div.project-caption .prev{
    position: absolute;
    top: 15%;
    right: 60px;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(4, 4, 90);
}
div.project-carousel{
    display: inline-block;
}


/* Reviews */
div.reviews{
    padding: 10rem 0;
}
div.reviews div.header-caption{
    text-align: center;
}
div.client-reviews{
    justify-content: space-between;
}
div.client-reviews>div{
    width: 30%;
}
div.client-reviews div.client-caption{
    padding: 20px;
    background: rgb(243, 243, 243);
    width: 100%;
    text-align: center;
}
div.client-reviews div p{
    font-size: 16px;
    font-style: italic;
    color: rgb(131, 130, 130);
}
div.client-reviews div.client img{
    border-radius: 50%;
}
div.client-reviews div.client{
    margin-top: 30px;
}
div.client span{
    display: inline-block;
    margin: auto 10px;
}

/* Message section */
div.message{
    background: rgba(1, 1, 75, 0.9);
    position: relative;
    padding: 10rem 0;
    color: #fff;
}
div.layer{
    background-image:url("images/slider1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100000;
   
}
div.message div.header-caption{
    color: #fff ;
}
div.message div.header-caption h2{
    color: #fff;
}
form div.row{
    justify-content: space-between;
}
form div.row>div{
    width: 30%;
}
form input, form textarea{
    width: 100%;
    padding: 15px 10px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.493);
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
    color: #fff;
}
::placeholder{
    color: rgb(223, 219, 219);
}
form textarea{
    height: 150px;
}
form button{
    width: 100%;
    outline: none;
    border: none;
    background: red;
    color: #fff;
    font-size: 18px;
    padding: 15px 20px;
}
form button:hover{
    background: #000;
    color: #fff;
    transition: 1s;
}

/* Client Base Carousel */
div.client-base{
    margin: 100px 0;
}
div.client-base div.carousel{
    justify-content: space-between;
}
div.client-base div.carousel div{
    width: 15%;
    text-align: center;
}
div.client-base div.carousel div img{
    width: 100%;
    height: 100px;
    
}
/* Footer Section */
footer{
    background: rgb(9, 9, 46);
    color: #fff;
    padding: 50px 0;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    /* height: 400px; */
}
footer div.row{
    justify-content: space-between;
}
div.brand,div.footer-services{
    width: 30%;
}
footer div.btn a{
    background:transparent  !important;
    border: 1px solid rgba(243, 243, 243,0.6);
    padding: 10px 50px  !important;
}
footer div.btn a:hover{
    background: red !important;
    border: none;
    padding: 10px 50px  !important;
    color: #fff !important;
}

footer ul {
    list-style-type: none;
}
footer ul li{
    font-size: 0.9rem;
    margin-bottom: 10px;
}
div.footer-services div.header-caption{
    margin-bottom: 20px;
}
footer hr{
    border: none;
    margin: 50px 0 0 0;
    height: 0.5px;
    background: rgba(199, 199, 199, 0.3);
}
.footer-copyright{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    margin-top: 5px;
}
/* KeyFrames */
@keyframes slideDown{
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes slideUp{
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}


/* Hamburger Menu */
.toggle-button{
    display: none;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.menu-bar{
    width: 100%;
    height: 5px;
    background: red;
    border-radius: 4px;
    display: none;
    border-radius: 4px;
}

@media screen and (max-width:1200px){
    div.nav-header div.nav-caption{
        display: none;
    }
    div.nav-header div.social-links{
        display: none;
    }
    div.nav-header div.social div:last-child{
        width: 100%;
        justify-content: space-between;
    }
    div.nav-header div.social{
        width: 100%;
        justify-content: space-between;
        padding:20px;
    }
    div.hero-caption{
        width: 90%;
    }
    div.hero-caption h1{
        font-size: 40px;
    }
}

@media screen and (max-width:1084px){
    div.project-caption{
        width: 80%;
    }
    div.bus-nich{
        flex-wrap: wrap;
    }
    div.bus-nich>div{
        width: 100%;
    }
    div.niche-caption{
        margin-bottom: 50px;
    }
    div.niche-icons{
        padding: 0 100px;
    }
    div.project-caption{
        width: 80%;
    }
    div.project-caption .prev{
        top: 92%;
        left: 20px;
    }
    div.project-caption .next{
        top: 92%;
        left: 60px;
    }
}
@media screen and (max-width:926px){
    div.container{
        padding: 0 50px;
    }
    footer div.row{
        flex-direction: column;
    }
    footer div.row div{
        width: 100%;
        margin-bottom: 20px;
    }
    form div.row{
        flex-wrap: wrap;
    }
    form div.row>div{
        width: 49%;
    }
    form div.row>div:last-child{
        width: 100%;
    }
    div.what-we-do div.row > div{
        width: 48%;
    }
}



@media screen and (max-width:898px){
    div.client-reviews {
        flex-direction: column;
    }
    div.client-reviews>div{
        width: 100%;
        margin: 0 auto 20px auto;
    }
    div.client-reviews div.client{
        justify-content: center;
    }
    div.project-caption{
        width: 100%;
    }
    nav{
        padding: 10px 0 20px 0;
    }
    nav ul.nav-links{
        display: none;
    }
    .toggle-button{
        display: flex;
    }
    .toggle-button .menu-bar{
        display: inline-block;
    }
    nav.navbar{
        position: relative  ;
    }
    nav ul.nav-links.active{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: red;
        animation: hamburger 1.5s ease-in-out;
    }
    @keyframes hamburger{
        0%{
            transform: translateX(-500px);
        }
        100%{
            transform: translateX(0px);
        }
    }
    nav ul.nav-links li a.nav-btn{
        padding: 20px 0;

    }
    nav ul.nav-links li{
        padding-left: 20px;
        border-bottom: 2px solid #fff;
    }
    nav ul.nav-links li a{
        color: #fff;
    }
    nav div.container{
        padding: 5px 20px;
    }
    nav div.container div.row{
        flex-direction: column;
        align-items: flex-start;                                                     
    }
}
@media screen and (max-width:728px){
    div.what-we-do{
        padding: 0 0 20px 0;
    }
    form div.row>div{
        width: 100%;
    }
    div.projects{
        padding: 5rem 50px;
    }
    div.what-we-do div.row > div{
        width: 100%;
    }
    div.niche-caption,div.niche-icons{
        padding:  50px;
    }
    div.niche-icons div{
        width: 100%;
    }
    div.hero-caption{
        width: 100%;
    }
    div.hero-caption h1{
        font-size: 40px;
    }
    div.client-base div.carousel.row{
     flex-wrap: wrap;
    }
    div.client-base div.carousel.row div{
        width: 50%;
    }
    div.client-base div.carousel.row div img{
       width: 150px;
       height: 100px;
    }
    div.hero1,div.hero2,div.hero3{
        padding: 5rem 0;
    }

}

@media screen and (max-width:500px){
    div.banner div.btn{
        flex-direction: column;
        text-align: center;
    }
    div.banner div.btn a{
        padding: 10px;
    }
}
@media screen and (max-width:446px){
    div.nav-header div.social div:last-child{
        flex-direction: column;
        align-items: center;
    }
    div.nav-header div.social div:last-child span{
        padding: 1px;
    }
    div.container{
        padding: 0 20px;
    }
}

@media screen and (max-width:380px){
    footer div.row div{
       text-align: center; 
    }
    div.projects{
        padding: 5rem  20px;
    }
    div.projects div.header-caption{
        margin-bottom: 20px;
    }
    div.header-caption{
        text-align: center;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
}